* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}



body{
    color: black;
    background-color: black;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
}

.top-img{
    max-width: 204px;
}

header{
    background-color:white;
}

footer > div, 
header > div{
    width:80%;
    margin:0 auto;
}

main{
    
    background-color: #ddd;
}

article{
    width: 100%;
}

article p{
    color: #848484;
}

h1, h2, h3, h4{
    color: #45A2DA;
}

a{
    text-decoration: none;
}

aside{
    color: #848484;
}

h2, h3, h4{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

header li a{
    color: black;
}

header li:hover{
    box-shadow: inset 0 3px 0 0 #45A2DA;
    color: #45A2DA;
}

header li{
    display: inline-block;
    padding: 20px;
}

footer p{
    color: white;
}

footer{
    background-color: black;
    border-top: 1px solid rgba(0,0,0,0.085);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
}

footer a{
    color: white;
}

.alt-link{
    background-color: black;
}

.alt-link a{
    color: white;
}

.container{
    display: flex;
    margin: 0 auto;
}

div[class^="col-"]{
    flex-basis: 17%;
}
.col-1-2{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
}

.col-1-3{
    flex-grow: 2;
}

.col-2-3{
    flex-grow: 4;
}

.center-img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: disc;
    color: white;
    list-style-position: inside;
    padding-left: 0px;
}

.quicklinks li{
    display: inline;
}

.quicklinks li:after{
    content: " \00b7";
}

.quicklinks li.alt-link:after{
    content: "";
}


@media all and (max-width: 800px){
    *[class*='col']
    {
        float: none;
        width: 100%;
    }
}

@media all and (max-width:555px){
    .center-img{
        display: none;
    }
    .menu
    {
        display: none;
    }
    .container{
    flex-direction: column;
    }
    .text{
        padding-top: 0px;
    }
    
    main{
        min-height: 300px;
    }
}

@keyframes fadein{
    17% {
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    92%{
        opacity: 0;
    }
}

article{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.first{
    opacity: 1.0;
    animation: fadein 15s ease 0s infinite normal;
}

.second{
    position:absolute;
    top: 0px;
    left: 0px;
    opacity: 0.0;
    animation: fadein 15s ease 5s infinite normal;
}

.third{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.0;
    animation: fadein 15s ease 10s infinite normal;
}